<header class="px-8 py-4 bg-gray-800">
  <nav class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-white sm:text-3xl sm:truncate ">
        <a href="/" class="m-1 focus:outline-none underline decoration-transparent hover:decoration-white focus:decoration-white decoration-4  hover:underline transition duration-200 ease-in" title="Go Home">
          Purple Authentication
        </a>
      </h2>
    </div>
    <div class="mt-4 md:mt-0 md:ml-4 grid grid-rows-2 xs:grid-rows-1 grid-flow-col gap-2">
      <a
        href="/how-it-works"
        class="inline-flex justify-center xs:justify-start items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-violet-500"
        tabindex="0"
      >
        How It Works
      </a>
      {% if user %}
        <a
          hx-boost="false"
          href="/docs"
          class="inline-flex justify-center xs:justify-start items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-violet-500"
        >
          API Docs
        </a>
        <a
          href="/dashboard"
          class="inline-flex justify-center xs:justify-start items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-violet-500"
        >
          Dashboard
        </a>
        <a href="/auth/logout"
           class="inline-flex justify-center xs:justify-start items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-red-500">
          Logout
        </a>
      {% else %}
        <a
          href="/login"
          class="inline-flex justify-center xs:justify-start items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-violet-500 hover:bg-violet-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-violet-500"
        >
          Login
        </a>
      {% endif %}
    </div>
  </nav>
</header>
