{% extends "login/login_base.html" %}
{% block title %}
  Login
{% endblock %}
{% block content %}
  <div class="sm:w-64 mb-3">
    {% include "login/_login_form.html" %}
  </div>

  <div class="mb-3">
    <a
      href="/"
      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500 sm:mt-0 sm:text-sm"
    >
      Back Home
    </a>
  </div>
{% endblock %}
{% block script %}
  <script>
  document.addEventListener('alpine:init', function (event) {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("redirected")) {
      setTimeout(() => {
        Alpine.store('notification').showNotification(
          "Please login",
          "You need to login to view this page.",
          "info"
        );
      }, 500);
    }
  });
  </script>
{% endblock %}