{% extends "base.html" %}
{% block bodyclass %}bg-gray-800{% endblock bodyclass %}
{% block body %}
  <main id="main" class="bg-gray-800 grid grid-cols-1 lg:grid-cols-2">
    <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:text-left">
      <div class="px-4 sm:px-8 xl:pr-16">
        <h1
          class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl"
        >
          <span class="block xl:inline text-white">Authentication</span>
          <span class="block text-violet-300 xl:inline">without passwords</span>
        </h1>
        <p class="mt-3 max-w-md mx-auto text-lg text-gray-200 sm:text-xl md:mt-5 md:max-w-3xl">
          Everyone hates passwords. Let's get rid of them. Enter your email to start
          building apps or scroll down to read more.
        </p>
        <div class="mt-10">
          <div class="bg-white sm:max-w-sm sm:w-full sm:mx-auto rounded-lg sm:overflow-hidden">
            <div class="px-4 pb-8 sm:px-6">
              <div class="pt-1 sm:pt-0 pb-3">
                <h2 class="font-bold mt-4 mb-1 text-3xl text-gray-700">
                  Get Started
                </h2>
                <p class="text-gray-500 text-sm italic">Enter your email below and
                  select a login flow, your account will be created
                  automatically!
                </p>
              </div>
              {% include "login/_login_form.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-violet-700">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:py-18 sm:px-6 lg:px-8">
        <h2 class="text-5xl font-extrabold text-white">
          Frequently Asked Questions
        </h2>
        <div class="mt-6 border-t border-violet-300 border-opacity-25 pt-10">
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-12">
            <div>
              <dt class="text-lg leading-6 font-medium text-white">
                How does passwordless work?
              </dt>
              <dd class="mt-2 text-base text-violet-200">
                Type your email address, select "Code" for a one-time passcode or "Magic
                Link" for a link to click that logs you in automatically. That's it.
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-white">
                Why Passwordless?
              </dt>
              <dd class="mt-2 text-base text-violet-200">
                Passwords are unpleasant for user and developers. Most users use weak
                passwords or re-use the same password for multiple sites. Then
                developers have to store them securely and handle all that user
                authentication.
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-white">
                How do I use it in my app?
              </dt>
              <dd class="mt-2 text-base text-violet-200">
                Login above (your account will be created automatically). You'll be
                taken to the dashboard where you can configure a new application. It
                will give you an App ID that you can use to access the REST API to
                authenticate users. You can <a
                href="/docs"
                class="text-violet-50 underline decoration-2 underline-offset-2 hover:underline-offset-0"
              >use the api directly</a> or use the python client.
              </dd>
            </div>
            <div>
              <dt class="text-lg leading-6 font-medium text-white">
                What can't passwordless do?
              </dt>
              <dd class="mt-2 text-base text-violet-200">
                My passwordless service only connects a session to an email address. I
                will verify for you that someone has the email address they say they
                have, but anything more (i.e. access control), you need to take care of
                in your app. If you want to support users changing their email
                addresses, you will also have to handle that in your database model.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </main>
{% endblock body %}