<form
  action="/auth/me/delete"
  method="POST"
  x-bind:class="mode !== 'confirmDeleteAccount' && 'hidden'"
  x-data="{'confirmation': ''}"
  hx-boost="false"
>
  <header class="px-4 py-5 sm:px-6">
    <h3 class="text-xl leading-6 font-medium text-gray-900" id="modal-title">
      Delete My Account
    </h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">
      Delete My account and all of my apps
    </p>
  </header>
  <section class="border-t border-gray-300 py-2">
    <div class="px-6 font-medium text-gray-800">
      <p>
        If you're sure you want to delete your account and all of your apps, type
      </p>
      <p class="text-red-500">Delete&nbsp;{{ user.email }}</p>
      <p>
        into the box below and click Delete.
      </p>
    </div>
    <div class="px-6 py-2">
      <label for="confirm_delete" class="sr-only">Confirm Delete
        Account</label>
      <input
        type="text" name="confirm_delete" id="confirm_delete"
        class="text-red-600 font-bold shadow-sm focus:ring-red-500 focus:border-red-500 block w-full sm:text-sm border-gray-300 rounded-md"
        x-model="confirmation"
        data-focusonload
        autocomplete="off"
      >
    </div>
  </section>
  <footer class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse text-white">
    <button
      type="submit"
      class="submit-button w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm disabled:bg-gray-600"
      x-bind:disabled="confirmation !== 'Delete {{ user.email }}'"
    >
      Delete
    </button>
    <button
      class="loading-button w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm disabled:bg-gray-600"
    >
      {% include "mixins/_loader.html" %}
    </button>
    <button
      type="button" @click="$store.modal.open = false"
      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
    >
      Cancel
    </button>
  </footer>
</form>
