<form
  hx-post="/api/apps/{{ app.app_id }}/reset-api-key"
  hx-trigger="submit"
  hx-target="#modal-content"
  hx-swap="innerHTML"
>
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-xl leading-6 font-medium text-gray-900" id="modal-title">
      Reset API Keys
    </h3>
  </div>
  <main class="border-t border-gray-300 py-2">
    <div class="space-y-2 px-6 font-medium text-gray-800">
      <p>
        Please type the name of your app (<span class="font-bold">{{ app.name }}</span>)
        below to confirm that you want to get a new
        API Key. This will invalidate the previous API key for you app.
      </p>
    </div>
    <div class="px-6 py-2">
      <label for="code" class="sr-only">App Name</label>
      <input
        type="text" name="name" id="name"
        class="text-red-600 font-bold shadow-sm focus:ring-red-500 focus:border-red-500 block w-full sm:text-sm border-gray-300 rounded-md"
        data-focusonload
        autocomplete="off"
        placeholder="{{ app.name }}"
        required
      >
    </div>
    <div class="px-6" x-show="$store.responseError">
      <div class="text-red-600 font-bold" x-text="$store.responseError"></div>
    </div>
  </main>
  <footer class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse text-white">
    <button
      type="submit"
      class="submit-button w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm disabled:bg-gray-600"
    >
      Confirm
    </button>
    <button
      type="button"
      class="loading-button w-full flex justify-center items-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm disabled:bg-gray-600"
    >
      {% include "mixins/_loader.html" %}
    </button>
    <button
      type="button"
      hx-get="/api/apps/{{ app.app_id }}"
      hx-trigger="click"
      hx-target="#modal-content"
      hx-swap="innerHTML"
      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
    >
    <span class="submit-text">
      Cancel
    </span>
      <span class="loading-text inverted">{% include "mixins/_loader.html" %}</span>
    </button>
  </footer>
</form>
