[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["full"],version = "*"}
pydantic = {extras = ["email"],version = "*"}
odmantic = "*"
bcrypt = "*"
redis = "*"
python-multipart = "*"
ujson = "*"
passlib = "*"
python-jwt = "*"
jwcrypto = "*"
aiohttp = "*"
pymongo = "*"
click = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
faker = "*"
pytest-mock = "*"
pytest-cov = "*"
requests = "*"
aioresponses = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
